<div id="pro-info-container-propertyId" class="col-md-12">
    <div class="col-md-12 col-xs-12">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="pro-manage-tab-header-container" class="nav nav-tabs bar_tabs left" role="tablist">
                <li role="presentation" class="active">
                    <a href="#pro-manage-tab-info" id="pro-manage-info-tabb" role="tab" data-toggle="tab" aria-controls="info" aria-expanded="true"><i class="fa fa-info-circle"></i> Info</a>
                </li>
                <li role="presentation">
                    <a href="#pro-manage-tab-inspection" id="pro-manage-inspection-tabb" role="tab" data-toggle="tab" aria-controls="inspection" aria-expanded="true"><i class="fa fa-edit"></i> Inspections </a>
                </li>
                <li role="presentation">
                    <a href="#pro-manage-tab-service" id="pro-manage-service-tabb" role="tab" data-toggle="tab" aria-controls="service" aria-expanded="true"><i class="fa fa-wrench"></i> Service </a>
                </li>
                <li role="presentation">
                    <a href="#pro-manage-tab-log" id="pro-manage-log-tabb" role="tab" data-toggle="tab" aria-controls="log" aria-expanded="true"><i class="fa fa-bullhorn"></i> Log </a>
                </li>
            </ul>
            <div id="pro-manage-tab-content-container" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="pro-manage-tab-info" aria-labelledby="home-tab">
                    <div id="pro-basic-details-container" class="col-xs-12">
                        <div style="max-height: 400px; overflow-y: auto;">
                            <div class="property-img-container" style="text-align: center;">
                                <img src="window.domainassets/images/property/default/200.png"/>
                            </div>
                            <div class="form-group margin-top-sm col-md-12" style="margin-bottom: 20px;">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12 margin-top-sm"
                                       for="mm-pro-owner">Property Owner:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="row" style="margin-top: 30px;">
                                        <div id="pro-propertyId-owner-container" class="col-md-12">
                                            <div id="pro-propertyId-add-owner"
                                                 onclick="setPropertyOwner(\pro-propertyId\);" class="tenent-container">
                                                <span style="margin-left: 10px;"><i class="fa fa-user-md"></i> Add Property Owner</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12"
                                       for="pro-street">Address:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" id="pro-street" placeholder="Street" value="res.street"
                                           onblur="requiredValidator(this, \Please fill the street\);" maxlength="32"
                                           class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12"
                                       for="pro-suburb"></span></label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" id="pro-suburb" placeholder="Suburb" value="res.suburb"
                                           onblur="requiredValidator(this, \Please fill the suburb\);" maxlength="64"
                                           class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="pro-city"></span></label>
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <input type="text" id="pro-city" placeholder="City" value="res.city"
                                           onblur="requiredValidator(this, \Please fill the city\);" maxlength="64"
                                           class="form-control col-md-7 col-xs-12">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <input type="text" id="pro-postal-code" placeholder="Postal Code" maxlength="10"
                                           class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group margin-top-sm col-md-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12"
                                       for="pro-reference">Reference:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" id="pro-reference" value="res.reference"
                                           onblur="requiredValidator(this, \Please fill the reference\);" maxlength="32"
                                           placeholder="Your Internal Asset Reference"
                                           class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="pro-manager">Property
                                    Manager:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <select id="pro-manager" class="form-control col-md-7 col-xs-12">manager</select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12 margin-top-sm" for="pro-tenant">Tenant:</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="row" style="margin-top: 40px;">
                                        <div id="pro-propertyId-tenant-container" class="col-md-12">
                                            <div id="pro-propertyId-add-tenant" class="tenent-container">
                                                <span style="margin-left: 10px;"><i
                                                        class="fa fa-user"></i> Add Tenant</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="pro-manage-tab-inspection"
                 aria-labelledby="home-tab">
                <div class="slide-down row">
                    <div class="col-md-12" style="text-align: left">
                        <span class="group-title"></span>
                    </div>
                    <div class="col-xs-12 group">
                        <div class="col-md-10 col-xs-12 col-md-offset-1">
                            inspectionList
                        </div>
                    </div>
                    <span class="slide-add-circle"><i class="fa fa-plus"></i> </span>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="pro-manage-tab-service"
                 aria-labelledby="home-tab">
                <div style="height: 395px;">
                    Coming soon
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="pro-manage-tab-log"
                 aria-labelledby="home-tab">
                <div style="height: 395px;">
                    Log Coming soon
                </div>
            </div>
        </div>
    </div>
</div>
</div>